

.choice-container{
    display: flex;
    margin-bottom: 12.8px;
    width: 100%;
    border-radius: 4px;
    background: white;
    font-size: 48px;
    min-width: 1280px;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 6.4px 22.4px 0 white;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 32px 40px;
    color: white;
}

.choice-text {
    padding: 32px;
    width:100%;
}

.correct {
    background: linear-gradient(32deg, lime) 0%, lime 100%;
}

.incorrect {
    background: linear-gradient(32deg, red 0%, red 100%);
}

/* Heads up display */

#hud {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.hud-prefix {
    text-align: center;
    font-size: 30px;
}

.hud-main-text {
    text-align: center;

}

#progressBar {
    width: 320px;
    height: 48px;
    border: 3.2px solid lime;
    margin-top: 32px;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: lime;
    width: 0%;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}